@font-face {
  font-family: "amazon";
  src: url(/assets/fonts/Ember/Amazon-Ember-Medium.ttf);
  format: "truetype"; }

* {
  margin: 0;
  padding: 0;
  font-family: amazon;
  box-sizing: border-box; }

.navbar {
  color: #ffffff; }
  .navbar .search-nav {
    max-height: 70px;
    min-height: 65px;
    background-color: #131921;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 9fr 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: 1fr; }
    .navbar .search-nav .amazon-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 20px; }
      .navbar .search-nav .amazon-logo .logo-container {
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 5px; }
        .navbar .search-nav .amazon-logo .logo-container .logo {
          background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -10px -51px;
          width: 96px;
          height: 29px; }
      .navbar .search-nav .amazon-logo .logo-container:hover {
        border-radius: 3px;
        border: 1px solid #ffffff; }
    .navbar .search-nav .deliver-to {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px; }
      .navbar .search-nav .deliver-to .container {
        border: 1px solid transparent;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        padding: 10px 5px;
        width: 100px; }
        .navbar .search-nav .deliver-to .container .co {
          display: flex;
          flex-direction: column; }
          .navbar .search-nav .deliver-to .container .co span:first-of-type {
            opacity: 0.75;
            font-size: 0.6rem; }
        .navbar .search-nav .deliver-to .container .logo {
          background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -71px -379px;
          width: 17px;
          height: 17px; }
      .navbar .search-nav .deliver-to .container:hover {
        border-radius: 3px;
        border: 1px solid #ffffff; }
    .navbar .search-nav .search-bar {
      display: flex;
      height: 2.2rem; }
      .navbar .search-nav .search-bar button:first-of-type {
        border: none;
        padding-left: 5px;
        border-right: 1px solid darkgray;
        border-radius: 6px 0 0 6px;
        font-size: 0.8rem;
        width: 60px; }
        .navbar .search-nav .search-bar button:first-of-type i {
          margin-left: 10px;
          margin-right: 5px; }
      .navbar .search-nav .search-bar input {
        padding-left: 5px;
        border: none;
        outline: none;
        width: 90%; }
      .navbar .search-nav .search-bar button:last-of-type {
        border: none;
        outline: none;
        border-radius: 0 6px 6px 0;
        background-color: #f3a847;
        width: 50px; }
    .navbar .search-nav .country {
      display: flex;
      align-items: center;
      justify-content: center; }
      .navbar .search-nav .country .container {
        border: 1px solid transparent;
        display: flex;
        flex-direction: row;
        padding: 18px 5px; }
        .navbar .search-nav .country .container .flag {
          background: url("/assets/images/arazot.png") no-repeat 0 -130px;
          width: 24px;
          height: 18px;
          margin-right: 5px; }
        .navbar .search-nav .country .container i {
          opacity: 0.75; }
      .navbar .search-nav .country .container:hover {
        border-radius: 3px;
        border: 1px solid #ffffff; }
    .navbar .search-nav .sign-in {
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbar .search-nav .sign-in .container {
        border: 1px solid transparent;
        padding: 10px 5px; }
        .navbar .search-nav .sign-in .container .text {
          min-width: 128px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          .navbar .search-nav .sign-in .container .text span:first-of-type {
            font-size: 0.7rem; }
          .navbar .search-nav .sign-in .container .text i {
            opacity: 0.75; }
      .navbar .search-nav .sign-in .container:hover {
        border-radius: 3px;
        border: 1px solid #ffffff; }
    .navbar .search-nav .returns {
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbar .search-nav .returns .container {
        border: 1px solid transparent;
        padding: 10px 5px; }
        .navbar .search-nav .returns .container .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start; }
          .navbar .search-nav .returns .container .text span:first-of-type {
            font-size: 0.7rem; }
          .navbar .search-nav .returns .container .text span {
            white-space: nowrap; }
      .navbar .search-nav .returns .container:hover {
        border-radius: 3px;
        border: 1px solid #ffffff; }
    .navbar .search-nav .cart {
      display: flex;
      justify-content: center;
      align-items: center; }
      .navbar .search-nav .cart .container {
        margin-right: 10px;
        padding: 10px 5px;
        display: flex; }
        .navbar .search-nav .cart .container .cart-logo {
          position: relative;
          background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -10px -340px;
          width: 38px;
          height: 26px; }
          .navbar .search-nav .cart .container .cart-logo span {
            color: #f08804;
            position: absolute;
            bottom: 12px;
            left: 17px; }
        .navbar .search-nav .cart .container p {
          align-self: flex-end; }
  .navbar .tabs-nav {
    background-color: #232f3e;
    display: flex;
    justify-content: space-between; }
    .navbar .tabs-nav ul {
      margin: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none; }
      .navbar .tabs-nav ul li {
        border: 1px solid transparent;
        margin: 2px 10px;
        padding: 4px 5px;
        white-space: nowrap; }
        .navbar .tabs-nav ul li .burger {
          display: inline-block;
          background: url("/assets/images/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") no-repeat -136px -255px;
          width: 20px;
          height: 18px;
          padding-right: 4px; }
      .navbar .tabs-nav ul li:hover {
        border-radius: 3px;
        border: 1px solid #ffffff; }

.main {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1500px;
  background-color: #fff; }
  .main .black-friday .img {
    margin: 0 auto;
    background: url("/assets/images/Fuji_BF_ILM_1X._CB652848759_.jpg") no-repeat 0 0;
    width: 650px;
    height: 45px; }
  .main .bread-crumbs {
    display: flex;
    justify-content: flex-start; }
    .main .bread-crumbs ul {
      display: flex;
      justify-content: center;
      list-style: none; }
      .main .bread-crumbs ul li {
        font-size: 0.8rem;
        margin: 10px 10px;
        opacity: 0.75; }
      .main .bread-crumbs ul li:hover {
        text-decoration: underline; }
  .main .main-container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: 1fr; }
    .main .main-container .pictures {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column; }
      .main .main-container .pictures .main-img {
        margin-top: 2.5rem;
        height: clamp(350px, 40vh, 452px);
        width: clamp(570px, 35vw, 679px); }
        .main .main-container .pictures .main-img .main-img-container {
          background: url("/assets/images/pickelcohel.jpg");
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat; }
      .main .main-container .pictures p {
        margin-top: 2.5rem;
        text-align: center;
        font-size: 0.8rem; }
      .main .main-container .pictures ul {
        display: flex;
        justify-content: center;
        list-style: none; }
        .main .main-container .pictures ul li {
          margin: 3px;
          border: 1px solid #cccccc; }
  .main .item-data {
    max-width: 425px; }
    .main .item-data h3 {
      font-size: 1.5rem;
      font-weight: 300; }
    .main .item-data a {
      font-size: 0.9rem;
      color: #007185;
      text-decoration: none; }
    .main .item-data a:hover {
      color: #c7511f;
      text-decoration: underline; }
    .main .item-data .rating {
      margin: 0.5rem; }
      .main .item-data .rating .stars {
        display: inline-block;
        background: url("/assets/images/3-fm1Jbg4IHlyhq.png") no-repeat -390px -206px;
        width: 95px;
        height: 18px; }
    .main .item-data .amazon-choice-holder {
      margin: 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #cccccc; }
